<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Login</title>
   </head>
<body>
      <!-- 
        To fetch dynamic data in express we need template engine 
        bcz in pure html not possible to handle dyanic data,html with more power-hbs
hbs is a express. js wrapper for the handlebars. js javascript template engine. Handlebars. js is a template engine to make writing html code easier
     -->
     <nav>
     <h4>Login</h4>
     <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        
       
         </ul>
        </nav>
        
        <div class="container mt-4">
        <div class="card">
        <div class="card-header">
            <h2>Login Form</h2>
        </div>
            <div class="card-body">
            <form action="../controllers/auth.js" method="POST">

  <div class="form-group">
    <label for="email">Email Address</label>
    <input type="email" class="form-control" id="email" name="email">
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
  <button type="submit" class="btn btn-success btn-lg ">Login</button>

  <a href="/forgotPassword">Forgot Password?</a><br><br>
   Not a member?<a href="/register">  Register Here</a><br>
 

  
</form>
           </div>
        </div>
            {{#if message}}
        <h4 class="alert alert-danger mt-4">{{message}}</h4>
        {{/if}}  

        </div>
     <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

  
</body>
</html>